
.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px 200px 100px;

    /* elementos implicitos */
    /* grid-auto-columns: 300px; /* elementos implicitos */
    /* grid-auto-flow: column; /* acomoda los elemetos en columnas */

    grid-auto-flow: dense; /* reacomoda, "administra" de la 
                            mejor forma los espacios que se van
                            generando por el tamaño de los elementos*/
}

.grid .span2 {
    background: #8a3bb5;
    grid-column: span 2; /* se expande #N columnas */
}

.grid .span3 {
    background: #1ba31b;
    grid-column: span 3; /* se expande #N columnas */
}